# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WebApp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Administrator\RiderProjects\icd0009-2020s\WebApp\.idea\.idea.WebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
