# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.trackWatch.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Administrator\RiderProjects\icd0009-2020s\trackWatch\.idea\.idea.trackWatch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
